<launch>
<include file ="$(find turtlebot_bringup)/launch/minimal.launch" />
<arg name="map_file" default="$(find KharcheS)/map2.yaml" />
<include file="$(find turtlebot_navigation)/launch/amcl_demo.launch" >
<arg name="map_file" value="$(arg map_file)" />
</include>
<include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch" />
</launch>


